/*Royta CSS Document*/
body {
    background:lavender;
    color:DarkSlateBlue;

}

a:link{ 
    color:blueviolet;
}
a:visited{
    color:grey;
}
a:active{
    color:rgb(255, 255, 138);

}
a:hover {
font-size:150%; background: lightgoldenrodyellow; font-family:'Times New Roman', Times, serif; color: purple; text-decoration:none;
}

.caution{
    font-size:125%;
    color:red;
}

table{
    background:rgb(255, 216, 245);
    color:rgb(178, 0, 98);
}
ul{
    background:rgb(214, 214, 241);
}

hr{
    display: block;
    color:#b8c1ec;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
figure {
    text-align: center;
}

